.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--app-bg);
}

.login-card {
  width: 400px;
  box-shadow: var(--app-card-shadow);
}
